@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,140;1,14..32,140&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
.squared-radio {
  appearance: none;
  width: 1rem;
  height: 1rem;
  border: 1px solid #cbd5e0;
  border-radius: 5px;
  background-color: white;
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin-right: 0.5rem;
}

.squared-radio:checked {
  background-color: black;
  border-color: black;
}

.squared-radio:checked::after {
  content: "✓";
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.6rem;
  line-height: 1;
}
